# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [2]:
# Imports
import pandas as pd
import numpy as np

In [3]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head(10)

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27
5,Tanimnya91,20,Masculino,10,Sleepwalker,1.73
6,Undjaskla97,20,Masculino,153,Mercenary Sabre,4.57
7,Iathenudil29,29,Feminino,169,"Interrogator, Blood Blade of the Queen",3.32
8,Sondenasta63,25,Masculino,118,"Ghost Reaver, Longsword of Magic",2.77
9,Hilaerin92,31,Masculino,99,"Expiration, Warscythe Of Lost Worlds",4.53

## Informações Sobre os Consumidores

In [4]:
# Implemente aqui sua solução
df_purchase = pd.DataFrame(purchase_file)
unique_logins = df_purchase['Login'].unique()

total_logins = 0

for i in unique_logins:
    total_logins += 1

print('Número total de consumidores: ',total_logins)

Número total de consumidores:  573

## Análise Geral de Compras

In [5]:
# Implemente aqui sua solução
unique_itens = len(df_purchase['Item ID'].unique())
mean_price = round(df_purchase['Valor'].mean(),2)
total_item = df_purchase.shape[0]
total_value = df_purchase['Valor'].sum()

df_analise_compras = pd.DataFrame({"Número de itens exclusivos": unique_itens, "Preço média de compra": mean_price, "Número total de compras": total_item, "Faturamento":[total_value]})
df_analise_compras

,Número de itens exclusivos,Preço média de compra,Número total de compras,Faturamento
0,183,2.93,780,2286.33

## Análise Demográfica

In [6]:
df_dados_clientes = df_purchase[['Login','Idade', 'Sexo']]
df_dados_clientes = df_dados_clientes.drop_duplicates()

In [7]:
count = df_dados_clientes['Sexo'].value_counts()

In [8]:
percent = round((count / total_logins) * 100,1)
percent

Masculino                81.2
Feminino                 17.5
Outro / Não Divulgado     1.4
Name: Sexo, dtype: float64

In [9]:
df_analise_demografica = pd.DataFrame({"Sexo": count, "Porcentagem":percent})
df_analise_demografica

                       Sexo  Porcentagem
Masculino               465         81.2
Feminino                100         17.5
Outro / Não Divulgado     8          1.4

## Informações Demográficas Por Gênero

In [10]:
# Implemente aqui sua solução
numero_compras = df_purchase.groupby(['Sexo']).count()['Valor']

In [11]:
media_valor_compra=round(df_purchase.groupby(['Sexo']).mean()['Valor'],2)

In [12]:
soma_compra = df_purchase.groupby(['Sexo']).sum()['Valor']

In [13]:
df_analise_demografica_genero = pd.DataFrame({"Número de compras": numero_compras,"Valor médio de compras":media_valor_compra, "Valor total":soma_compra})
df_analise_demografica_genero

                       Número de compras  Valor médio de compras  Valor total
Sexo
Feminino                             136                    2.82       382.91
Masculino                            633                    2.95      1867.68
Outro / Não Divulgado                 11                    3.25        35.74

## Informações Demográficas Por Faixa Etária

In [21]:
faixas = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
labels = ["Menos de 10", "10 a 14", "15 a 19", "20 a 24", "25 a 29", "30 a 34", "35 a 39", "Mais de 40"]

purchase_file["Range de Idades"] = pd.cut(purchase_file["Idade"], faixas, labels=labels)

In [22]:
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor,Range de idades,Range de Idades
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37,35 a 39,35 a 39
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32,20 a 24,20 a 24
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46,30 a 34,30 a 34
3,Pheusrical25,21,Masculino,92,Final Critic,1.36,20 a 24,20 a 24
4,Aela59,23,Masculino,63,Stormfury Mace,1.27,20 a 24,20 a 24

In [25]:
# Cálculos básicos
#contagem de pessoas em cada faixa etaria
age_demographics_count = purchase_file["Range de Idades"].value_counts() 
#aplicação da função média no valor da compra agrupando por faixa etaria
age_demographics_average_item_price = round(purchase_file.groupby(["Range de Idades"]).mean()["Valor"],2)
#aplicação da função soma no valor das compras de cada faixa etaria
age_demographics_total_item_price = purchase_file.groupby(["Range de Idades"]).sum()["Valor"]
#calculando a porcentagem de cada faixa em relação ao total de compradores
age_demographics_percent = round((age_demographics_count / total_logins) * 100,2)

# Dataframe para os resultados
age_demographics = pd.DataFrame({"Contagem": age_demographics_count, "%": age_demographics_percent, "Valor Unitario": age_demographics_average_item_price, "Valor Total de Compra": age_demographics_total_item_price})
age_demographics

             Contagem      %  Valor Unitario  Valor Total de Compra
Menos de 10        28   4.89            2.98                  83.46
10 a 14            35   6.11            2.77                  96.95
15 a 19           133  23.21            2.91                 386.42
20 a 24           336  58.64            2.91                 978.77
25 a 29           125  21.82            2.96                 370.33
30 a 34            64  11.17            3.08                 197.25
35 a 39            42   7.33            2.84                 119.40
Mais de 40         17   2.97            3.16                  53.75

## Consumidores Mais Populares (Top 5)

In [48]:
# Implemente aqui sua solução
top5_valor_total = purchase_file.groupby(["Login"]).sum()["Valor"]
top5_numero_compras = purchase_file.groupby(["Login"]).count()["Valor"]
top5_media_preco = round(purchase_file.groupby(["Login"]).mean()["Valor"],2)

df_top5_login = pd.DataFrame({"Número de compras":top5_numero_compras,"Preço médio":top5_media_preco,"Valor total":top5_valor_total})
df_top5_login.sort_values("Valor total",ascending=False).head(5)

             Número de compras  Preço médio  Valor total
Login
Undirrala66                  5         3.41        17.06
Saedue76                     4         3.39        13.56
Mindimnya67                  4         3.18        12.74
Haellysu29                   3         4.24        12.73
Eoda93                       3         3.86        11.58

## Itens Mais Populares

In [54]:
# Implemente aqui sua solução

item_compras = purchase_file.groupby(["Item ID"]).count()["Valor"]
item_valor = purchase_file.groupby(["Item ID"]).mean()["Valor"]
item_total = purchase_file.groupby(["Item ID"]).sum()["Valor"]

df_top_itens = pd.DataFrame({"Quantidade de compras":item_compras,"Valor do item":item_valor,"Total vendido":item_total})
df_top_itens.sort_values("Quantidade de compras", ascending=False)

         Quantidade de compras  Valor do item  Total vendido
Item ID
39                          11           2.35          25.85
84                          11           2.23          24.53
31                           9           2.07          18.63
175                          9           1.24          11.16
13                           9           1.49          13.41
...                        ...            ...            ...
147                          1           3.59           3.59
168                          1           2.64           2.64
164                          1           1.92           1.92
59                           1           1.65           1.65
0                            1           1.82           1.82

[183 rows x 3 columns]

## Itens Mais Lucrativos

In [55]:
# Implemente aqui sua solução
df_top_itens.sort_values("Total vendido", ascending= False)

         Quantidade de compras  Valor do item  Total vendido
Item ID
34                           9           4.14          37.26
115                          7           4.25          29.75
32                           6           4.95          29.70
103                          6           4.87          29.22
107                          8           3.61          28.88
...                        ...            ...            ...
164                          1           1.92           1.92
0                            1           1.82           1.82
3                            1           1.79           1.79
59                           1           1.65           1.65
156                          1           1.16           1.16

[183 rows x 3 columns]

## Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>